<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
   
<h3>Add new Artist</h3>

<form action="/artists" method="POST">
   Name: <input type="text" name="name" >
   <input type="submit">
</form>





</body>
</html>